<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2018-07-16T13:21:35Z</date>
				<key>CustomThemeName</key>
				<string>Mountains</string>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Gallery</string>
				<key>PluginClassName</key>
				<string>RWPhotoPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Photo Album</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/rebeloper/Documents/Work/GreatestQoutesMedia/Site/quotytwo.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-05-22T16:13:50Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/page2-1000-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								L/iwUbvS0EU6
								3dawMpk0Dg==
								</data>
								<key>Size</key>
								<integer>919</integer>
							</dict>
							<key>files/page2-1000-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ki3hdcTBHEvN
								UVHHZHqomQ==
								</data>
								<key>Size</key>
								<integer>109017</integer>
							</dict>
							<key>files/page2-1000-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jheT7C6C7pgX
								yTzfiP2b9A==
								</data>
								<key>Size</key>
								<integer>40709</integer>
							</dict>
							<key>files/page2-1001-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								RGWZpqPFXbMi
								J+KERYfrDQ==
								</data>
								<key>Size</key>
								<integer>957</integer>
							</dict>
							<key>files/page2-1001-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FSYKvoWQZ83B
								hF+xhL8q/Q==
								</data>
								<key>Size</key>
								<integer>84918</integer>
							</dict>
							<key>files/page2-1001-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								395prX1iHD5J
								CTkamb9/NA==
								</data>
								<key>Size</key>
								<integer>29383</integer>
							</dict>
							<key>files/page2-1002-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								l1oLk0ZAKdGu
								/CmJ+D7WHA==
								</data>
								<key>Size</key>
								<integer>967</integer>
							</dict>
							<key>files/page2-1002-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UWo19tBWF5qZ
								YVn3rEd2dg==
								</data>
								<key>Size</key>
								<integer>123738</integer>
							</dict>
							<key>files/page2-1002-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aEWiUTfVHdC6
								WXvbYxKSpA==
								</data>
								<key>Size</key>
								<integer>44746</integer>
							</dict>
							<key>files/page2-1003-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								bcYqcJkXpMHD
								kIlcYSkzPA==
								</data>
								<key>Size</key>
								<integer>955</integer>
							</dict>
							<key>files/page2-1003-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8zutV1fDywgD
								avYQcP/0wg==
								</data>
								<key>Size</key>
								<integer>108772</integer>
							</dict>
							<key>files/page2-1003-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jV1963NtpHa1
								10C3HXKY9g==
								</data>
								<key>Size</key>
								<integer>39102</integer>
							</dict>
							<key>files/page2-1004-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								f0gXkPrLSukO
								d00BteXgeg==
								</data>
								<key>Size</key>
								<integer>965</integer>
							</dict>
							<key>files/page2-1004-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sbmv5JKvfFEk
								1GQB2nCB4w==
								</data>
								<key>Size</key>
								<integer>97132</integer>
							</dict>
							<key>files/page2-1004-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ogQODwqWJ6AZ
								7M0QNbqL1g==
								</data>
								<key>Size</key>
								<integer>37250</integer>
							</dict>
							<key>files/page2-1005-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								MVHXAb+TSISn
								yIyQB7h5DA==
								</data>
								<key>Size</key>
								<integer>973</integer>
							</dict>
							<key>files/page2-1005-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eeK7ItX79ay4
								xoGjq98BRw==
								</data>
								<key>Size</key>
								<integer>91804</integer>
							</dict>
							<key>files/page2-1005-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								s+iiTsyA6y5b
								d8MrFqDWxQ==
								</data>
								<key>Size</key>
								<integer>41271</integer>
							</dict>
							<key>files/page2-1006-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								0WS5VC1OeBEf
								bsYmkJ89mA==
								</data>
								<key>Size</key>
								<integer>959</integer>
							</dict>
							<key>files/page2-1006-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CWphqneoUeHq
								N3flTbZ+aw==
								</data>
								<key>Size</key>
								<integer>86480</integer>
							</dict>
							<key>files/page2-1006-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Dv2BnHc2regb
								bENWPDdFSA==
								</data>
								<key>Size</key>
								<integer>29896</integer>
							</dict>
							<key>files/page2-1007-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								O5lOFPIxizYY
								9WGhr9QXSA==
								</data>
								<key>Size</key>
								<integer>909</integer>
							</dict>
							<key>files/page2-1007-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								w3biSFh88XRz
								mSCDZ/ns9Q==
								</data>
								<key>Size</key>
								<integer>149284</integer>
							</dict>
							<key>files/page2-1007-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0xVuf2f+5sDi
								ZxVnycWbuQ==
								</data>
								<key>Size</key>
								<integer>47768</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								yrRMT8iDJooX
								RvYjtAn2TQ==
								</data>
								<key>Size</key>
								<integer>7997</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string>photos</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
