<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerIdentifier</key>
				<string>8EC47D13-06AF-4ABD-9755-C62D75A67305</string>
				<key>CreatedDate</key>
				<date>2018-07-16T13:17:21Z</date>
				<key>ID</key>
				<string>page1</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Blog</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/rebeloper/Documents/Work/GreatestQoutesMedia/Site/quotytwo.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-05-22T16:13:50Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/archive-july-2018.html</key>
							<dict>
								<key>Digest</key>
								<data>
								oXg1fVQaXr2q
								lymgKzPAeA==
								</data>
								<key>Size</key>
								<integer>7970</integer>
							</dict>
							<key>files/b49f7679eed2e8f01cdc308cae49accf-2.html</key>
							<dict>
								<key>Digest</key>
								<data>
								bb89P0IxT0XL
								qcN1IZyDfQ==
								</data>
								<key>Size</key>
								<integer>7869</integer>
							</dict>
							<key>files/e67d4b8aac0c709c5801ce466bdcd90e-1.html</key>
							<dict>
								<key>Digest</key>
								<data>
								+Pg3BzJAl8x6
								IgfbYN14rQ==
								</data>
								<key>Size</key>
								<integer>7877</integer>
							</dict>
							<key>files/ec6ba86b718a1eb8e64a97a721ac49b3-0.html</key>
							<dict>
								<key>Digest</key>
								<data>
								kg9r5aBG184X
								sUpHyOXuoA==
								</data>
								<key>Size</key>
								<integer>7885</integer>
							</dict>
							<key>files/feed.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								xliZDAd0qVg5
								as+z+YoYFw==
								</data>
								<key>Size</key>
								<integer>2887</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								hPC3K8ONdKhg
								l2S9hba+UA==
								</data>
								<key>Size</key>
								<integer>2160</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								evePvOJuRnDw
								bB6kyQZ72Q==
								</data>
								<key>Size</key>
								<integer>7653</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string>blog</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
