<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerIdentifier</key>
				<string>8EC47D13-06AF-4ABD-9755-C62D75A67305</string>
				<key>CreatedDate</key>
				<date>2018-07-16T12:58:52Z</date>
				<key>ID</key>
				<string>page0</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Home</string>
				<key>PluginClassName</key>
				<string>RWMarkdownPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Markdown</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/rebeloper/Documents/Work/GreatestQoutesMedia/Site/quotytwo.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-05-22T16:13:50Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								YWKg9L1vZZ+H
								pKAnIXT5OA==
								</data>
								<key>Size</key>
								<integer>6848</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
