<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - file:///Users/rebeloper/Documents/Work/GreatestQoutesMedia/Site/quotytwo.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-05-22T16:13:50Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								YWKg9L1vZZ+H
								pKAnIXT5OA==
								</data>
								<key>Size</key>
								<integer>6848</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page1 - file:///Users/rebeloper/Documents/Work/GreatestQoutesMedia/Site/quotytwo.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-05-22T16:13:50Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/archive-july-2018.html</key>
							<dict>
								<key>Digest</key>
								<data>
								oXg1fVQaXr2q
								lymgKzPAeA==
								</data>
								<key>Size</key>
								<integer>7970</integer>
							</dict>
							<key>files/b49f7679eed2e8f01cdc308cae49accf-2.html</key>
							<dict>
								<key>Digest</key>
								<data>
								bb89P0IxT0XL
								qcN1IZyDfQ==
								</data>
								<key>Size</key>
								<integer>7869</integer>
							</dict>
							<key>files/e67d4b8aac0c709c5801ce466bdcd90e-1.html</key>
							<dict>
								<key>Digest</key>
								<data>
								+Pg3BzJAl8x6
								IgfbYN14rQ==
								</data>
								<key>Size</key>
								<integer>7877</integer>
							</dict>
							<key>files/ec6ba86b718a1eb8e64a97a721ac49b3-0.html</key>
							<dict>
								<key>Digest</key>
								<data>
								kg9r5aBG184X
								sUpHyOXuoA==
								</data>
								<key>Size</key>
								<integer>7885</integer>
							</dict>
							<key>files/feed.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								xliZDAd0qVg5
								as+z+YoYFw==
								</data>
								<key>Size</key>
								<integer>2887</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								hPC3K8ONdKhg
								l2S9hba+UA==
								</data>
								<key>Size</key>
								<integer>2160</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								evePvOJuRnDw
								bB6kyQZ72Q==
								</data>
								<key>Size</key>
								<integer>7653</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string>blog</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page2 - file:///Users/rebeloper/Documents/Work/GreatestQoutesMedia/Site/quotytwo.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-05-22T16:13:50Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/page2-1000-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								L/iwUbvS0EU6
								3dawMpk0Dg==
								</data>
								<key>Size</key>
								<integer>919</integer>
							</dict>
							<key>files/page2-1000-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ki3hdcTBHEvN
								UVHHZHqomQ==
								</data>
								<key>Size</key>
								<integer>109017</integer>
							</dict>
							<key>files/page2-1000-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jheT7C6C7pgX
								yTzfiP2b9A==
								</data>
								<key>Size</key>
								<integer>40709</integer>
							</dict>
							<key>files/page2-1001-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								RGWZpqPFXbMi
								J+KERYfrDQ==
								</data>
								<key>Size</key>
								<integer>957</integer>
							</dict>
							<key>files/page2-1001-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FSYKvoWQZ83B
								hF+xhL8q/Q==
								</data>
								<key>Size</key>
								<integer>84918</integer>
							</dict>
							<key>files/page2-1001-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								395prX1iHD5J
								CTkamb9/NA==
								</data>
								<key>Size</key>
								<integer>29383</integer>
							</dict>
							<key>files/page2-1002-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								l1oLk0ZAKdGu
								/CmJ+D7WHA==
								</data>
								<key>Size</key>
								<integer>967</integer>
							</dict>
							<key>files/page2-1002-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UWo19tBWF5qZ
								YVn3rEd2dg==
								</data>
								<key>Size</key>
								<integer>123738</integer>
							</dict>
							<key>files/page2-1002-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aEWiUTfVHdC6
								WXvbYxKSpA==
								</data>
								<key>Size</key>
								<integer>44746</integer>
							</dict>
							<key>files/page2-1003-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								bcYqcJkXpMHD
								kIlcYSkzPA==
								</data>
								<key>Size</key>
								<integer>955</integer>
							</dict>
							<key>files/page2-1003-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8zutV1fDywgD
								avYQcP/0wg==
								</data>
								<key>Size</key>
								<integer>108772</integer>
							</dict>
							<key>files/page2-1003-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jV1963NtpHa1
								10C3HXKY9g==
								</data>
								<key>Size</key>
								<integer>39102</integer>
							</dict>
							<key>files/page2-1004-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								f0gXkPrLSukO
								d00BteXgeg==
								</data>
								<key>Size</key>
								<integer>965</integer>
							</dict>
							<key>files/page2-1004-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sbmv5JKvfFEk
								1GQB2nCB4w==
								</data>
								<key>Size</key>
								<integer>97132</integer>
							</dict>
							<key>files/page2-1004-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ogQODwqWJ6AZ
								7M0QNbqL1g==
								</data>
								<key>Size</key>
								<integer>37250</integer>
							</dict>
							<key>files/page2-1005-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								MVHXAb+TSISn
								yIyQB7h5DA==
								</data>
								<key>Size</key>
								<integer>973</integer>
							</dict>
							<key>files/page2-1005-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eeK7ItX79ay4
								xoGjq98BRw==
								</data>
								<key>Size</key>
								<integer>91804</integer>
							</dict>
							<key>files/page2-1005-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								s+iiTsyA6y5b
								d8MrFqDWxQ==
								</data>
								<key>Size</key>
								<integer>41271</integer>
							</dict>
							<key>files/page2-1006-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								0WS5VC1OeBEf
								bsYmkJ89mA==
								</data>
								<key>Size</key>
								<integer>959</integer>
							</dict>
							<key>files/page2-1006-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CWphqneoUeHq
								N3flTbZ+aw==
								</data>
								<key>Size</key>
								<integer>86480</integer>
							</dict>
							<key>files/page2-1006-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Dv2BnHc2regb
								bENWPDdFSA==
								</data>
								<key>Size</key>
								<integer>29896</integer>
							</dict>
							<key>files/page2-1007-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								O5lOFPIxizYY
								9WGhr9QXSA==
								</data>
								<key>Size</key>
								<integer>909</integer>
							</dict>
							<key>files/page2-1007-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								w3biSFh88XRz
								mSCDZ/ns9Q==
								</data>
								<key>Size</key>
								<integer>149284</integer>
							</dict>
							<key>files/page2-1007-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0xVuf2f+5sDi
								ZxVnycWbuQ==
								</data>
								<key>Size</key>
								<integer>47768</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								yrRMT8iDJooX
								RvYjtAn2TQ==
								</data>
								<key>Size</key>
								<integer>7997</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string>photos</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/rebeloper/Documents/Work/GreatestQoutesMedia/Site/quotytwo.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-05-22T16:13:50Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/images/default.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								l38orbj3Nuky
								hjxWfDe9Xw==
								</data>
								<key>Size</key>
								<integer>181740</integer>
							</dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								hz6Excink8IK
								B2KoAby0Rg==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								xSXwKA7Db+GT
								j3+p2BC2Ig==
								</data>
								<key>Size</key>
								<integer>1032</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:blog - file:///Users/rebeloper/Documents/Work/GreatestQoutesMedia/Site/quotytwo.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-05-22T16:13:50Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rss.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								ySu0h74kFZbd
								w1d11rHDPA==
								</data>
								<key>Size</key>
								<integer>219</integer>
							</dict>
							<key>smiley_angry.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OsvBGlBtLs1C
								xAB3/F5vkA==
								</data>
								<key>Size</key>
								<integer>1275</integer>
							</dict>
							<key>smiley_embarrassed.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Ok+zrbTJSQbz
								YHvbtXa5FQ==
								</data>
								<key>Size</key>
								<integer>1310</integer>
							</dict>
							<key>smiley_footinmouth.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oNlmERQNe+Jv
								bhxYf6Q/sQ==
								</data>
								<key>Size</key>
								<integer>1254</integer>
							</dict>
							<key>smiley_gasp.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3fIF+LsL4I97
								3PnZdsHYdg==
								</data>
								<key>Size</key>
								<integer>1208</integer>
							</dict>
							<key>smiley_laugh.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aiKkmJLIzkmw
								I7ENY7ns/A==
								</data>
								<key>Size</key>
								<integer>1283</integer>
							</dict>
							<key>smiley_sad.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JrI6GFcEDYoD
								NPeCi0NJDQ==
								</data>
								<key>Size</key>
								<integer>1263</integer>
							</dict>
							<key>smiley_smile.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ek1FWaeOXYzG
								u9xa5IUf6A==
								</data>
								<key>Size</key>
								<integer>1240</integer>
							</dict>
							<key>smiley_wink.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zIRR5aU+gUMZ
								uXop1aVLFA==
								</data>
								<key>Size</key>
								<integer>1236</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:blog</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/blog</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:Mountains - file:///Users/rebeloper/Documents/Work/GreatestQoutesMedia/Site/quotytwo.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-05-22T16:13:50Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated-0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Qs5NUSbbmgUt
								XUbsmC3h6w==
								</data>
								<key>Size</key>
								<integer>203868</integer>
							</dict>
							<key>consolidated-1.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Qs5NUSbbmgUt
								XUbsmC3h6w==
								</data>
								<key>Size</key>
								<integer>203868</integer>
							</dict>
							<key>consolidated-2.css</key>
							<dict>
								<key>Digest</key>
								<data>
								rlg+ZX7SI/kp
								0oQf53rpUg==
								</data>
								<key>Size</key>
								<integer>203776</integer>
							</dict>
							<key>fonts/playfair-display-v13-latin-700.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								GtBwDqBS+sC8
								gAQsY40elQ==
								</data>
								<key>Size</key>
								<integer>30168</integer>
							</dict>
							<key>fonts/playfair-display-v13-latin-700.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								G6u/FhtIREm5
								AJCwaKuEQg==
								</data>
								<key>Size</key>
								<integer>83782</integer>
							</dict>
							<key>fonts/playfair-display-v13-latin-700.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								SgvZjDepEgXs
								0iARNiAcrg==
								</data>
								<key>Size</key>
								<integer>60716</integer>
							</dict>
							<key>fonts/playfair-display-v13-latin-700.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								FPOIyXIalh/d
								plAYh9bO/w==
								</data>
								<key>Size</key>
								<integer>31224</integer>
							</dict>
							<key>fonts/playfair-display-v13-latin-700.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								yMaravRjxWFH
								NoGjtGIa8w==
								</data>
								<key>Size</key>
								<integer>26356</integer>
							</dict>
							<key>fonts/playfair-display-v13-latin-700italic.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								o0Eai++pLwnW
								bvItU+heUw==
								</data>
								<key>Size</key>
								<integer>31182</integer>
							</dict>
							<key>fonts/playfair-display-v13-latin-700italic.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								i6wsg2F91AzM
								J4kx9o+yPg==
								</data>
								<key>Size</key>
								<integer>91800</integer>
							</dict>
							<key>fonts/playfair-display-v13-latin-700italic.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								Ha7R44MtRKJ7
								r2CQGG7u6A==
								</data>
								<key>Size</key>
								<integer>58480</integer>
							</dict>
							<key>fonts/playfair-display-v13-latin-700italic.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								j3a953Jw1qT8
								2NHASfuhfA==
								</data>
								<key>Size</key>
								<integer>32620</integer>
							</dict>
							<key>fonts/playfair-display-v13-latin-700italic.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								yOvocIfd0/K2
								OegKHPYE8A==
								</data>
								<key>Size</key>
								<integer>27480</integer>
							</dict>
							<key>fonts/playfair-display-v13-latin-italic.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								NM9sbjdW3R9Z
								PWiLHGMGAA==
								</data>
								<key>Size</key>
								<integer>30389</integer>
							</dict>
							<key>fonts/playfair-display-v13-latin-italic.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								c72XfrgzGmyu
								c1+c9XekNQ==
								</data>
								<key>Size</key>
								<integer>91085</integer>
							</dict>
							<key>fonts/playfair-display-v13-latin-italic.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								QQ1YRYhrcyRu
								EK63o9DoIg==
								</data>
								<key>Size</key>
								<integer>58944</integer>
							</dict>
							<key>fonts/playfair-display-v13-latin-italic.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								zeEeMy6w2Gx3
								uFvDXKv1pw==
								</data>
								<key>Size</key>
								<integer>31912</integer>
							</dict>
							<key>fonts/playfair-display-v13-latin-italic.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								ElzZQg7O03V5
								zEmNtg8o/Q==
								</data>
								<key>Size</key>
								<integer>26848</integer>
							</dict>
							<key>fonts/playfair-display-v13-latin-regular.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								J1zesfSCCkFi
								yt3bxLLieA==
								</data>
								<key>Size</key>
								<integer>28424</integer>
							</dict>
							<key>fonts/playfair-display-v13-latin-regular.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								AuAmtd33ABrj
								Lpm3oUfVyQ==
								</data>
								<key>Size</key>
								<integer>83673</integer>
							</dict>
							<key>fonts/playfair-display-v13-latin-regular.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								udXKRFg+lBbu
								G+AMWQ0C8Q==
								</data>
								<key>Size</key>
								<integer>59176</integer>
							</dict>
							<key>fonts/playfair-display-v13-latin-regular.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								J3VXoWFNnr8R
								1JfGLYNfiA==
								</data>
								<key>Size</key>
								<integer>29624</integer>
							</dict>
							<key>fonts/playfair-display-v13-latin-regular.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								IDF50WzVEf65
								2GkfJ5JsOw==
								</data>
								<key>Size</key>
								<integer>24888</integer>
							</dict>
							<key>images/banners/default.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								l38orbj3Nuky
								hjxWfDe9Xw==
								</data>
								<key>Size</key>
								<integer>181740</integer>
							</dict>
							<key>js/main.js</key>
							<dict>
								<key>Digest</key>
								<data>
								c1ofdeXuTbo8
								cIxJkbtRrQ==
								</data>
								<key>Size</key>
								<integer>169226</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:Mountains</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/Mountains</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>RWFileReferences</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hp
				dmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRB
				cmNoaXZlctEICVRyb290gAGvEEALDBUWICEiJSw1SElK
				S1FUWFthYmNna3Z3eHl9gIaHkpOUlZmcoqOur7Cxtbi+
				v8rLzM3R1Nrb5ufo6e3w9vf7VSRudWxs0w0ODxASFFdO
				Uy5rZXlzWk5TLm9iamVjdHNWJGNsYXNzoRGAAqETgAOA
				P1Rub2Rl1RcYGRoPGxwdHh9UTmFtZVVpdGVtc1ppZGVu
				dGlmaWVyWGNoaWxkcmVugAWACIAEgAaAPl8QJDEyODEx
				QkMxLUI3NUMtNDVGRC1BM0ZDLUQzQjYyQzM3QjZEMl8Q
				D1VudGl0bGVkIEZvbGRlctIODyMkoIAH0iYnKClaJGNs
				YXNzbmFtZVgkY2xhc3Nlc15OU011dGFibGVBcnJheaMo
				KitXTlNBcnJheVhOU09iamVjdNIODy0kpi4vMDEyM4AJ
				gBaAHoAmgC6ANoAH2jY3Dzg5Ohc7PD0+P0BBP0NERUZH
				XlJlbW90ZVJlc291cmNlW09yaWdpbmFsVVJMXFB1Ymxp
				c2hlZFVSTF1QdWJsaXNoZWREYXRlXxAPQ2hhbmdlZFN0
				YXR1c2VzWklkZW50aWZpZXJZVGltZVN0YW1wWUZpbGVU
				b2tlbgmAAIAVgA2AAIARgAuACoAPgAxfECRFM0JBNkQ2
				MC1BM0VGLTQzODktQjQyRi1DQTZCODdGQjFCNTJfECRw
				aG90by0xNTA3OTE0NDY0NTYyLTZmZjRhYzI5NjkyZi5q
				cGdfEL5odHRwczovL2ltYWdlcy51bnNwbGFzaC5jb20v
				cGhvdG8tMTUwNzkxNDQ2NDU2Mi02ZmY0YWMyOTY5MmY/
				aXhsaWI9cmItMC4zLjUmcT04MCZmbT1qcGcmY3JvcD1l
				bnRyb3B5JmNzPXRpbnlzcmdiJnc9MTA4MCZmaXQ9bWF4
				Jml4aWQ9ZXlKaGNIQmZhV1FpT2pFek1qUTVmUSZzPTg2
				NTdjZjRmMTY3ODRjNTU1YzRkNDVhN2UwZWUxNzRj00wP
				TT9PR1dOUy5iYXNlW05TLnJlbGF0aXZlgACADoAM0iYn
				UlNVTlNVUkyiUivSVQ9WV1dOUy50aW1lI0HEHUxfnCjD
				gBDSJidZWlZOU0RhdGWiWSvTDQ4PXF5goV2AEqFfgBOA
				FF8QU2ZpbGU6Ly8vVXNlcnMvcmViZWxvcGVyL0RvY3Vt
				ZW50cy9Xb3JrL0dyZWF0ZXN0UW91dGVzTWVkaWEvU2l0
				ZS9xdW90eXR3by5naXRodWIuaW8vCNImJ2RlXxATTlNN
				dXRhYmxlRGljdGlvbmFyeaNkZitcTlNEaWN0aW9uYXJ5
				0iYnaGleUldTaXRlUmVzb3VyY2WiaiteUldTaXRlUmVz
				b3VyY2XaNjcPODk6Fzs8PT4/QG8/cXJzdHUJgACAFYAa
				gACAHIAYgBeAG4AZXxAkMjZDNEMyRTUtNjc1Ny00RUMx
				LUE1QUQtNzQzQjBENjYwRTJDXxAkcGhvdG8tMTQ4MjM1
				MDMyNTAwNS1lZGE1ZTY3NzI3OWIuanBnXxC+aHR0cHM6
				Ly9pbWFnZXMudW5zcGxhc2guY29tL3Bob3RvLTE0ODIz
				NTAzMjUwMDUtZWRhNWU2NzcyNzliP2l4bGliPXJiLTAu
				My41JnE9ODAmZm09anBnJmNyb3A9ZW50cm9weSZjcz10
				aW55c3JnYiZ3PTEwODAmZml0PW1heCZpeGlkPWV5Smhj
				SEJmYVdRaU9qRXpNalE1ZlEmcz0wZTJhN2I3ZjcyNGVl
				OGI3ZGJkZTdjY2UzMmY5OWYyMtNMD00/T3WAAIAOgBnS
				VQ9+VyNBxB1MX5wo/oAQ0w0OD4GDYKGCgB2hX4ATgBRf
				EFNmaWxlOi8vL1VzZXJzL3JlYmVsb3Blci9Eb2N1bWVu
				dHMvV29yay9HcmVhdGVzdFFvdXRlc01lZGlhL1NpdGUv
				cXVvdHl0d28uZ2l0aHViLmlvL9o2Nw84OToXOzw9Pj9A
				iz+Njo+QkQmAAIAVgCKAAIAkgCCAH4AjgCFfECRGRUE4
				OEUxQy04REQzLTRFRjItOTU3NC1BNDhBNkE4MDY5ODFf
				ECRwaG90by0xNTE1MjE1MzE2NzcxLTI3NDJiYWEzMzdm
				NC5qcGdfEL5odHRwczovL2ltYWdlcy51bnNwbGFzaC5j
				b20vcGhvdG8tMTUxNTIxNTMxNjc3MS0yNzQyYmFhMzM3
				ZjQ/aXhsaWI9cmItMC4zLjUmcT04MCZmbT1qcGcmY3Jv
				cD1lbnRyb3B5JmNzPXRpbnlzcmdiJnc9MTA4MCZmaXQ9
				bWF4Jml4aWQ9ZXlKaGNIQmZhV1FpT2pFek1qUTVmUSZz
				PTUyZjRiY2Q5NDk0OTIzZGQ4YjE2M2MwMGMzMjRhN2Qx
				00wPTT9PkYAAgA6AIdJVD5pXI0HEHUxfnCkXgBDTDQ4P
				nZ9goZ6AJaFfgBOAFF8QU2ZpbGU6Ly8vVXNlcnMvcmVi
				ZWxvcGVyL0RvY3VtZW50cy9Xb3JrL0dyZWF0ZXN0UW91
				dGVzTWVkaWEvU2l0ZS9xdW90eXR3by5naXRodWIuaW8v
				2jY3Dzg5Ohc7PD0+P0CnP6mqq6ytCYAAgBWAKoAAgCyA
				KIAngCuAKV8QJEE4Nzk1RjUzLUI0RDYtNDUzOC1COUIz
				LUE5RTg1ODA3MEVBQV8QJHBob3RvLTE1MTM4NzY1ODU5
				MTYtNjFkNDA4OTVjNTBlLmpwZ18Qvmh0dHBzOi8vaW1h
				Z2VzLnVuc3BsYXNoLmNvbS9waG90by0xNTEzODc2NTg1
				OTE2LTYxZDQwODk1YzUwZT9peGxpYj1yYi0wLjMuNSZx
				PTgwJmZtPWpwZyZjcm9wPWVudHJvcHkmY3M9dGlueXNy
				Z2Imdz0xMDgwJmZpdD1tYXgmaXhpZD1leUpoY0hCZmFX
				UWlPakV6TWpRNWZRJnM9YmEzM2VkNTVmNTY0MWRlOGI4
				NWE3ODI1YWUxZDgxMjPTTA9NP0+tgACADoAp0lUPtlcj
				QcQdTF+cKSiAENMNDg+5u2ChuoAtoV+AE4AUXxBTZmls
				ZTovLy9Vc2Vycy9yZWJlbG9wZXIvRG9jdW1lbnRzL1dv
				cmsvR3JlYXRlc3RRb3V0ZXNNZWRpYS9TaXRlL3F1b3R5
				dHdvLmdpdGh1Yi5pby/aNjcPODk6Fzs8PT4/QMM/xcbH
				yMkJgACAFYAygACANIAwgC+AM4AxXxAkOEVDNDdEMTMt
				MDZBRi00QUJELTk3NTUtQzYyRDc1QTY3MzA1XxAkcGhv
				dG8tMTUwMjQ2MjA0MTY0MC1iM2Q3ZTUwZDA2NjIuanBn
				XxC+aHR0cHM6Ly9pbWFnZXMudW5zcGxhc2guY29tL3Bo
				b3RvLTE1MDI0NjIwNDE2NDAtYjNkN2U1MGQwNjYyP2l4
				bGliPXJiLTAuMy41JnE9ODAmZm09anBnJmNyb3A9ZW50
				cm9weSZjcz10aW55c3JnYiZ3PTEwODAmZml0PW1heCZp
				eGlkPWV5SmhjSEJmYVdRaU9qRXpNalE1ZlEmcz0xZTQx
				Nzg5OGJkMTllMDU4MDA1NWE1MTFiMjAwYzljNdNMD00/
				T8mAAIAOgDHSVQ/SVyNBxB1MX5wpQYAQ0w0OD9XXYKHW
				gDWhX4ATgBRfEFNmaWxlOi8vL1VzZXJzL3JlYmVsb3Bl
				ci9Eb2N1bWVudHMvV29yay9HcmVhdGVzdFFvdXRlc01l
				ZGlhL1NpdGUvcXVvdHl0d28uZ2l0aHViLmlvL9o2Nw84
				OToXOzw9Pj9A3z/h4uPk5QmAAIAVgDqAAIA8gDiAN4A7
				gDlfECRCOEFENTNDRi0yNDg1LTRDNEYtQTY1OC1CQUM3
				REE2MjQ2RDlfECRwaG90by0xNTA4MDYwODU3MjQyLWM2
				NTgwYWIzMTNlMi5qcGdfEL5odHRwczovL2ltYWdlcy51
				bnNwbGFzaC5jb20vcGhvdG8tMTUwODA2MDg1NzI0Mi1j
				NjU4MGFiMzEzZTI/aXhsaWI9cmItMC4zLjUmcT04MCZm
				bT1qcGcmY3JvcD1lbnRyb3B5JmNzPXRpbnlzcmdiJnc9
				MTA4MCZmaXQ9bWF4Jml4aWQ9ZXlKaGNIQmZhV1FpT2pF
				ek1qUTVmUSZzPWMyNzE2MDc1MDQ3MTIwNTFiZDZhMzc2
				ZDE5MWQzNTc300wPTT9P5YAAgA6AOdJVD+5XI0HEHUxf
				nClSgBDTDQ4P8fNgofKAPaFfgBOAFF8QU2ZpbGU6Ly8v
				VXNlcnMvcmViZWxvcGVyL0RvY3VtZW50cy9Xb3JrL0dy
				ZWF0ZXN0UW91dGVzTWVkaWEvU2l0ZS9xdW90eXR3by5n
				aXRodWIuaW8v0iYn+PlcUldTaXRlRm9sZGVyovorXFJX
				U2l0ZUZvbGRlctImJ2b8omYrAAgAEQAaACQAKQAyADcA
				SQBMAFEAUwCWAJwAowCrALYAvQC/AMEAwwDFAMcAzADX
				ANwA4gDtAPYA+AD6APwA/gEAAScBOQE+AT8BQQFGAVEB
				WgFpAW0BdQF+AYMBigGMAY4BkAGSAZQBlgGYAa0BvAHI
				AdUB4wH1AgACCgIUAhUCFwIZAhsCHQIfAiECIwIlAicC
				TgJ1AzYDPQNFA1EDUwNVA1cDXANiA2UDagNyA3sDfQOC
				A4kDjAOTA5UDlwOZA5sDnQPzA/QD+QQPBBMEIAQlBDQE
				NwRGBFsEXAReBGAEYgRkBGYEaARqBGwEbgSVBLwFfQWE
				BYYFiAWKBY8FmAWaBaEFowWlBacFqQWrBgEGFgYXBhkG
				GwYdBh8GIQYjBiUGJwYpBlAGdwc4Bz8HQQdDB0UHSgdT
				B1UHXAdeB2AHYgdkB2YHvAfRB9IH1AfWB9gH2gfcB94H
				4AfiB+QICwgyCPMI+gj8CP4JAAkFCQ4JEAkXCRkJGwkd
				CR8JIQl3CYwJjQmPCZEJkwmVCZcJmQmbCZ0JnwnGCe0K
				rgq1CrcKuQq7CsAKyQrLCtIK1ArWCtgK2grcCzILRwtI
				C0oLTAtOC1ALUgtUC1YLWAtaC4ELqAxpDHAMcgx0DHYM
				ewyEDIYMjQyPDJEMkwyVDJcM7QzyDP8NAg0PDRQAAAAA
				AAACAQAAAAAAAAD9AAAAAAAAAAAAAAAAAAANFw==
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BaseURL</key>
					<string>https://quotytwo.github.io/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2018 Realmac Software</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.php</string>
						<string>index.html</string>
						<string>index.htm</string>
					</array>
					<key>EmailAddress</key>
					<string>support@realmacsoftware.com</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>fileSystemPathBookmark</key>
							<data>
							Ym9va0QDAAAAAAQQMAAA
							ANVMIyOOz2eDfMiEyiJC
							aWjtmJgGIa/iJw5R0BUR
							HzmuQAIAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAAJAAAAAQEAAHJl
							YmVsb3BlcgAAAAkAAAAB
							AQAARG9jdW1lbnRzAAAA
							BAAAAAEBAABXb3JrEwAA
							AAEBAABHcmVhdGVzdFFv
							dXRlc01lZGlhAAQAAAAB
							AQAAU2l0ZRIAAAABAQAA
							cXVvdHl0d28uZ2l0aHVi
							LmlvAAAcAAAAAQYAABAA
							AAAgAAAANAAAAEgAAABU
							AAAAcAAAAHwAAAAIAAAA
							BAMAAIRcAAAAAAAACAAA
							AAQDAAC6owMAAAAAAAgA
							AAAEAwAA5WjaAAAAAAAI
							AAAABAMAACT9GAAAAAAA
							CAAAAAQDAABwKs0AAAAA
							AAgAAAAEAwAAhmjjAQAA
							AAAIAAAABAMAAG954wEA
							AAAAHAAAAAEGAAC8AAAA
							zAAAANwAAADsAAAA/AAA
							AAwBAAAcAQAACAAAAAAE
							AABBxB1KAHOAtRgAAAAB
							AgAAAgAAAAAAAAAPAAAA
							AAAAAAAAAAAAAAAACAAA
							AAQDAAAFAAAAAAAAAAQA
							AAADAwAA9QEAAAgAAAAB
							CQAAZmlsZTovLy8MAAAA
							AQEAAE1hY2ludG9zaCBI
							RAgAAAAEAwAAAJCClucA
							AAAIAAAAAAQAAEHEFN/E
							AAAAJAAAAAEBAABBNjJD
							RDk1Ni1COTlFLTREMTQt
							QjkzRS01RDIwRkJCRTE4
							MUQYAAAAAQIAAIEAAAAB
							AAAA7xMAAAEAAAAAAAAA
							AAAAAAEAAAABAQAALwAA
							AAAAAAABBQAAzAAAAP7/
							//8BAAAAAAAAABAAAAAE
							EAAAmAAAAAAAAAAFEAAA
							LAEAAAAAAAAQEAAAYAEA
							AAAAAABAEAAAUAEAAAAA
							AAACIAAALAIAAAAAAAAF
							IAAAnAEAAAAAAAAQIAAA
							rAEAAAAAAAARIAAA4AEA
							AAAAAAASIAAAwAEAAAAA
							AAATIAAA0AEAAAAAAAAg
							IAAADAIAAAAAAAAwIAAA
							OAIAAAAAAAABwAAAgAEA
							AAAAAAARwAAAIAAAAAAA
							AAASwAAAkAEAAAAAAAAQ
							0AAABAAAAAAAAAA=
							</data>
							<key>hasPublishedContent</key>
							<true/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>Untitled Destination</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>0</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string></string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SiteLogoIdentifier</key>
					<string>E3BA6D60-A3EF-4389-B42F-CA6B87FB1B52</string>
					<key>SloganText</key>
					<string>Changing the world, one coffee at a time…</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Mountains</string>
					<key>TitleText</key>
					<string>Mountain Café</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>B65776A4-B090-4269-945A-765600E7848B_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>hasChangedGlobalBody</key>
					<false/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<false/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<false/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
